.aboutme-line {
    display: flex;
}

.aboutme-caption {
    font-size: 2rem;
    color: #E4B15E;
   
}

.aboutme-cards {
    display: flex;
    width: 50%;
}

.about-text {
    font-size: 1.8rem;
    font-size: 2rem;
    color: #888888;
}

.aboutme-heading {
    font-size: 4.4rem;
    color: #3B3C31;
}

.abtext-container {
    margin: 2.5rem;
}

.about-photo {
    background: url(../images/about-img.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.myskills {
    background-color: #E3AD62;
    font-size: 1.8rem;
    color: #FFFFFE;

}

.myskills_heading {
    font-size: 4.4rem;
}

.myskills_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;

}

.myskills_progressbar-back {
    background-color: white;
    height: 2px;
    margin-bottom: 2rem;
}

.myskills_progressbar-front {
    background-color: #242C2B;
    height: 2px;
    margin-bottom: 3rem;
    width: 50%;
}

.frontend_percent {
    width: 90%;
}

.backend_percent {
    width: 70%;
}

.html_percent {
    width: 80%;
}

.prbars {
    width: 90%;
}

.prbars_skill-name {

    color: #242C2B;
}

.prbars_percent {
    color: white;
}

.prbars_info {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}