* {
    margin: 0;
    padding: 0;
}

html {

    font-size: 10px;
    font-family: "Source Sans Pro", sans-serif;
}

a {
    text-decoration: none;
}
body{
    font-weight: 300;
}


.card-large {
    width: 50%;
}

.card-medium {
    flex: 2;
    width: 50vw;
}

.card-small {
    flex: 1;
}

.card-XL {
    width: 100%;
}