.skills-line {
    display: flex;
}

.skill-name-coding {
    color: #3B3C31;
}

.skill-container {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    font-size: 2.1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.skill-icon {
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.skills-set {
    margin-left: 3rem;
}

.interface {
    background-color: #E3AE57;
    color: #FFFFFE;
}

.media {
    background-color: #E9724C;
    color: #FFFFFE;
}

.app {
    background-color: #161616;
    color: #FFFFFE;
}

.coding {
    background-color: #FFFFFF;
    color: #888888;

}